{% extends "network/layout.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}

{% block body %}
<div id="top"></div>
<div class="grid-container">


        <div id="tweet-field" class="grid-item" {% if user.is_authenticated %} data-is_auth="1" {% endif %}>
            <form class="flex-container" id="tweet-form">
                <textarea placeholder="Tweet your message :)" required maxlength="1000"></textarea>
                <input class="submit-button-textarea" type="submit" value="Tweet">
            </form>
        </div>


        <div data-id="{{ id }}" id="profile" class="grid-item">
            <div class="flex-space-between">
                <h3 class="username"></h3>
                {% if user.is_authenticated %}
                    <button class="follow_btn"></button>
                {% endif %}
            </div>
            <div class="flex-space-evenly">
                <span class="following_num"></span>
                <span class = followers_num></span>
            </div>
        </div>


    <div class="grid-item tweet-container">
        <div class="from-info">
            <a class="profile-link" href="{% url 'profile' %}">Username</a>
            <span>timestamp</span>
        </div>
        <div class="tweet">
        </div>
        <div class="tweet-buttons">
            <button>comments</button>
            <button>retweet</button>
            <button>like</button>
        </div>
    </div>


    <div class="grid-item" id="pagination-container">
        <a class="previous-link">Previous</a>
        <a class="next-link">Next</a>
    </div>


</div>





{% endblock %}