a:hover, .edit-button {
    text-decoration-line: none;
    cursor: pointer;
}

.body {
    margin: 10px 20px 10px 20px;
}


textarea {
    overflow: hidden;
    width: 100%;
    min-height: 55px;

    resize: none;
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.3);
}

textarea:focus {
    outline: none;
    border-width: 2px;
    border-color: rgba(0, 191, 255, 1);
}

.textarea-edit-tweet {
    border-style: solid none solid none;
}


.submit-button-textarea, .submit-edit-tweet, .follow_btn {
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 191, 255, 0.8);
}

.submit-button-textarea:focus, .submit-edit-tweet:focus, .follow_btn:focus {
    outline: none;
    border: solid rgba(30, 144, 255, 0.8) 1px;
    box-sizing: border-box;
}

.submit-button-textarea:hover, .submit-edit-tweet:hover, .follow_btn:hover {
    background-color: rgba(0, 191, 255, 1);
}


.like-btn {
    font-size: 20px;
    cursor: pointer;
}



#pagination-container {
    color: rgba(65, 105, 225, 1);
    border: none;
}


#profile {
    display: none;
    border-radius: 20px;
    background-color: rgba(224, 255, 255, 0.5);
}

.profile-link:not(nothing) {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}

.profile-link:not(nothing):hover {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    text-decoration-line: underline;
}


.timestamp, .edit-mark-container {
    color: rgba(0, 0, 0, 0.5);
}

.comment-btn:not(anything) {
    color: rgba(65, 105, 225, 0.25);
}

.edit-button, .likes-number {
    color: rgba(65, 105, 225, 0.6);
}

.tweet-buttons a:hover, .edit-button:hover {
    color: rgba(65, 105, 225, 1);
}

.edit-mark-container {
    font-size: 80%;
}

.likes-number {
    font-size: 70%;
    margin-left: 7px;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}

.grid-item {
    overflow: hidden;
    border-bottom: solid rgba(128, 128, 128, 0.5) 1px;
    padding: 10px;
}

.post:hover {
    background-color: rgb(247, 247, 247);
}

.previous-link {
    margin-right: 20px;
}

.tweet {
    word-break: break-all;
}


/* flex */
.flex-container {
    display: flex;
    flex-direction: column;
}

.submit-button-textarea {
    align-self: flex-end;
}

.tweet-buttons, .from-info, .flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-evenly;
}

#pagination-container {
    justify-content: center;
}

.submit-edit-tweet {
    align-self: flex-end;
}


/* Media */
@media screen and (max-width: 992px) {

    .grid-item {
        grid-column: 1/span 4;
    }

}

@media screen and (min-width: 993px) {

    .grid-item {
        grid-column: 2/span 2;
    }

}